<<<<<<< HEAD
table{
    border: 8px;
    border-color: rgb(214, 0, 0);
    
    
=======
table{
    border: 8px;
    border-color: rgb(214, 0, 0);
    
    
>>>>>>> 29312768ae1fbad4d7e537ee67154a725a9e9e4a
}